In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np

In [2]:
# Read the CSV file into a DataFrame
df=pd.read_csv("amazon_prime_titles.csv")
# Display the first five rows of the DataFrame
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [3]:
df1=df.copy()

In [4]:
# Checking the data types of the DataFrame
df1.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [5]:
# Obtaining the summary statistics of the DataFrame
df1.describe()

       release_year
count   9668.000000
mean    2008.341849
std       18.922482
min     1920.000000
25%     2007.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

In [6]:
# Examine the information of the DataFrame
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [7]:
# Check for duplicated rows in the DataFrame
df1.duplicated().sum()

0

In [8]:
# checking the presence of any missing/Null values in the DataFrame
df1.isna().sum()

show_id            0
type               0
title              0
director        2082
cast            1233
country         8996
date_added      9513
release_year       0
rating           337
duration           0
listed_in          0
description        0
dtype: int64

Handle missing values in specific columns

In [9]:
df1['director']= df1["director"].replace(np.nan,'unknown')

In [10]:
df1['cast']= df1['cast'].replace(np.nan,"unknown")

In [11]:
df1['rating']=df1["rating"].fillna(df1['rating'].mode()[0])

In [12]:
df1['date_added']= df['date_added'].ffill()

In [13]:
df1["country"]= df1["country"].fillna(df1["country"].mode()[0])

In [14]:
# Verify the presence of any remaining missing values in the DataFrame
df1.isna().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [15]:
# Selecting a specific range of rows
df1.loc[12:20]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
12,s13,Movie,The Night Eats The World,Dominique Rocher,"Anders Danielsen Lie, Golshifteh Farahani, Den...",France,"April 17, 2021",2018,13+,94 min,"Horror, Suspense",After waking up in an apartment the night afte...
13,s14,Movie,Resilencia,Jep Barcelona,"Rafinha Alcantara, Marc-André Ter Stegen, Serg...",Spain,"April 24, 2021",2020,13+,46 min,"Documentary, Sports",The documentary follows the midfielder’s every...
14,s15,Movie,Elon Musk: The Real Life Iron Man,Sonia Anderson,"Elon Musk, Per Wimmer, Julie Anderson-Ankenbra...",United Kingdom,"May 2, 2021",2018,13+,74 min,Documentary,"Discover the meteoric rise of Elon Musk, the m..."
15,s16,Movie,Summer '03,Becca Gleason,"Joey King, Jack Kilmer, Andrea Savage, Paul Sc...",United States,"June 3, 2021",2019,13+,96 min,"Comedy, Drama",Summer '03 is the hilarious story of 16-year-o...
16,s17,Movie,Zoombies,Glenn Miller,"Marcus Anderson, Kaiwi Lyman, Andrew Asper",United States,"June 3, 2021",2016,13+,87 min,"Horror, Science Fiction",When a strange virus quickly spreads through a...
17,s18,TV Show,Zoo Babies,unknown,Narrator - Gillian Barlett,United States,"June 3, 2021",2008,ALL,1 Season,"Kids, Special Interest",A heart warming and inspiring series that welc...
18,s19,TV Show,Zoë Coombs Marr: Bossy Bottom,unknown,Zoë Coombs Marr,United States,"June 3, 2021",2020,18+,1 Season,"Comedy, Talk Show and Variety",Zoë Coombs Marr has been on hiatus. Sort of. F...
19,s20,Movie,Zoe,Drake Doremus,"Ewan McGregor, Léa Seydoux, Theo James, Mirand...",United States,"June 3, 2021",2018,R,104 min,Science Fiction,ZOE tells a tale of forbidden love between an ...
20,s21,TV Show,Zoboomafoo,unknown,unknown,United States,"June 3, 2021",2001,TV-Y,1 Season,Kids,Chris and Martin Kratt bring their enthusiasm ...

In [ ]:
# Export the cleaned DataFrame to an Excel file
df1.to_excel('amazon_videos.xlsx', index=False)